.page-content{
}
.page-content-title{
  font-family: Roboto;
  color: #FC7422;
  font-weight: 300;

}
.page-content-body{
  background-color: blue;
  display: flex;
  justify-content: center;
}
.page-content-body div{
  background-color: #E5E5E5;
}
