html, body {
  margin: 0;
  padding: 0;
}
.Container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.CourseContainer{
  display: flex;
  flex-direction: row;

  margin-top: 175px;
}
.body-container{
  display: flex;
  flex-direction: row;
  padding: 45px 0px 0px 0px;
  justify-content: center;
}
.course-list-container{
  display: flex;
  flex-direction: column;
}
.topic-box-container{
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px 10px 150px;
}
.courses-list-container{
  display: flex;
  margin-right: 20px;
}